.container {
  --purple-blue: #3064d0;
  --purple-blue-light: #7497dc;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 24px;
  padding: 16px;
  width: 35%;
  min-height: 250px;
  height: 400px;
  max-height: 400px !important;
  background-color: #fff;

  @media (max-width: 1366px) {
    width: 40%;
  }

  @media (max-width: 1024px) {
    width: 50%;
  }

  @media (max-width: 768px) {
    width: 90%;
  }

  @media (max-width: 480px) {
    width: 90%;
  }

  @media (max-width: 320px) {
    width: 90%;
  }
}

h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 16px;
}

.multiselect {
  flex: 1;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  padding: 0px 24px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.inputGroup {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.inputGroup input[type="text"] {
  width: 100%;
  padding: 8px;
  padding-right: 32px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 8px;
}

.checkboxes {
  margin-top: 16px;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.checkboxes .checkboxContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  margin-bottom: 8px;
}

.checkboxContainer input[type="checkbox"] {
  width: 16px;
  height: 16px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.checkboxContainer label {
  font-size: 16px;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.checkboxContainer label:hover {
  color: var(--purple-blue-light);
}

/* Checkbox checked will look like a purple square inside a white square */
.checkboxContainer input[type="checkbox"]:checked {
  background-color: var(--purple-blue);
}

.checkboxContainer input[type="checkbox"]:checked + label {
  color: var(--purple-blue);
}

.searchIcon {
  position: absolute;
  top: 8px;
  right: 12px;
  color: #ccc;
  cursor: pointer;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.button {
  margin: 16px 0px;
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  color: #fff;
  background-color: var(--purple-blue);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.button:hover {
  background-color: var(--purple-blue-light);
}
